/* 
    Document   : style
    Created on : Aug 20, 2013, 5:56:01 PM
    Author     : amar
    Description:
        Purpose of the stylesheet follows.
        To support the css styling of all the components on the web application
*/

/* Start : Common */
root { 
    display: block;
}

/* End : Common */

/* Start : Home  */
 

/* End : Home */

/* Start : Login */


/* End : Login */